@font-face {
    font-family: 'CafeDeco';
    src: url('../fonts/CafeDeco.ttf');
}

html,
body {
	height: 100%;
	margin: 0px;
	overflow: hidden;
}

body {
	display: block;
	justify-content: center;
	align-items: top;
	height: 100%;
	background: rgb(223,224,226);
	padding: 32px;
}

div {
	left: 200vw;
	transition: 0.4s all !important;
}

div:after {
	left: 0vw;
}

#Statistics {
	width: 100%;
	height: calc(100% - 64px);

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;

	/*display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;*/
}

#ColumnChart {
	width: 70%;
	height: 100%;

	display: flex;
	justify-content: space-between;
	align-items: left;
	flex-wrap: nowrap;
}

#numbers_y {
	width: 64px;
	height: calc(100% - 64px);

	display: flex;
	justify-content: space-between;
	flex-direction: column-reverse;
	align-items: center;
	flex-wrap: nowrap;
}

.value {
	text-align: center;
	width: calc(100% - 10px);
	height: 64px;
	font-family: "CafeDeco";
	font-size: 40px;

	border-radius: 0px 0px 0px 24px;
	border-bottom: 3px black solid;
}

#chart {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: left;
	flex-wrap: nowrap;
}

#results {
	width: calc(100% - 6px);
	height: calc(100% - 64px - 6px);

	border-left: 6px black solid;
	border-bottom: 6px black solid;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: bottom;
	flex-wrap: nowrap;
}

.result {
	padding: 10px;
	/*width: ;*/
}

#numbers_x {
	width: 100%;
	height: 64px;

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
}

.number {
	text-align: center;
	width: 64px;
	height: 100%;
	font-family: "CafeDeco";
	font-size: 30px;
}

#info {
	width: 30%;
	height: 100%;

	margin-left: 32px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	text-align: center;
}

#Profiles {
	width: calc(100% - 24px);
	height: calc(100% - 160px);

	border: 4px black solid;
	border-radius: 8px;

	padding: 8px;

	align-items: center;

	overflow-x: hidden;
	overflow-y: auto;
}

.avatar {
	width: 168px;
	height: 168px;
	border-radius: 100%;
	float: left;
	background-color: #1d1f20;;
	margin: 32px;
	background-size: cover;
	filter: saturate(1.2);
	box-shadow: 0px 0px 20px #1d1f20;
}

.player {
	left: 4px;

	margin-bottom: 20px;

	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	width: calc(100% - 8px);
	height: 100px;
	color: #1d1f20;
	font-family: "CafeDeco";
	font-size: 3vw;
	cursor: pointer;
}

.box {
	left: 4px;

	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: calc(85% - 8px);
	height: 100px;
	color: #1d1f20;
	font-family: "CafeDeco";
	font-size: 2vw;
	cursor: pointer;
}

.score-box {
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 10%;
	height: 60px;
	color: #1d1f20;
	font-family: "CafeDeco";
	font-size: 2vw;
	line-height: 2vw;
	cursor: pointer;
}

#status {
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	width: calc(100% - 8px);
	height: 100px;
	color: #1d1f20;
	font-family: "CafeDeco";
	font-size: 3vw;
	cursor: pointer;
}

.gradient-border {
	--borderWidth: 4px;
	background: rgb(223,224,226);
	position: relative;
	border-radius: var(--borderWidth);
}

.gradient-border:hover {
	background: rgba(223,224,226,0);
	color: white;
}

.gradient-border:hover .avatar {
	box-shadow: rgb(223,224,226) 0px 0px 25px;
}

.gradient-border:active .avatar {
	box-shadow: rgb(223,224,226) 0px 0px 25px;
}

.gradient-border:active {
  background: rgba(223,224,226,0);
  color: white;
}

.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
	#f73333, 
	#f35572, 
	#ef4eaf, 
	#ab66a9
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}