<!doctype html>
<html>
	<head>
		<meta charset="utf8">
		<link rel="stylesheet" href="view/profile/style.css" type="text/css">
		<script src="libs/esPHP.js" type="text/javascript"></script>
		<script src="libs/jQuery(3.1.1).js" type="text/javascript"></script>
		<script src="view/profile/display.js" type="text/javascript"></script>
	</head>
	<body onload="loadPage()" ontouchstart="">
		<div class="gradient-border box slide">
			<div class="avatar" style="background-image:url(\"\");"></div>
			<p class="name">Анастасия Покладова</p>
		</div>
			<div class="gradient-border box slide">
			<div class="avatar" style="background-image:url(\"\");"></div>
			<p class="name">Анастасия Сечкина</p>
		</div>
		<div class="gradient-border box slide">
			<div class="avatar" style="background-image:url(\"\");"></div>
			<p class="name">Ангелина Янько</p>
		</div>
		<div class="gradient-border box slide">
			<div class="avatar" style="background-image:url(\"\");"></div>
			<p class="name">Арина Кузьмичёва</p>
		</div>
		<div class="gradient-border box slide">
			<div class="avatar" style="background-image:url(\"\");"></div>
			<p class="name">Арина Чистякова</p>
		</div>
		<div class="gradient-border box slide">
			<div class="avatar" style="background-image:url(\"\");"></div>
			<p class="name">Валерия Вашурина</p>
		</div>
		<div class="gradient-border box slide">
			<div class="avatar" style="background-image:url(\"\");"></div>
			<p class="name">Виолетта Меняйло</p>
		</div>
		<div class="gradient-border box slide">
			<div class="avatar" style="background-image:url(\"\");"></div>
			<p class="name">Галина Колесникова</p>
		</div>
		<div class="gradient-border box slide">
			<div class="avatar" style="background-image:url(\"\");"></div>
			<p class="name">Дарья Рябова</p>
		</div>
		<div class="gradient-border box slide">
			<div class="avatar" style="background-image:url(\"\");"></div>
			<p class="name">Елена Ермак</p>
		</div>
		<div class="gradient-border box slide">
			<div class="avatar" style="background-image:url(\"\");"></div>
			<p class="name">Елизавета Кожекина</p>
		</div>
		<div class="gradient-border box slide">
			<div class="avatar" style="background-image:url(\"\");"></div>
			<p class="name">Ксения Клименко</p>
		</div>
		
	</body>
</html>