<!doctype html>
<html>
	<head>
		<meta charset="utf8">
		<meta name="viewport" content="width=device-width, height=device-height">
		<link rel="stylesheet" href="view/question/style.css" type="text/css">
		<script src="view/question/display.js" type="text/javascript"></script>
	</head>
	<body onload="loadDisplayPage()" ontouchstart="">
		<div id="holder">
			<div class="gradient-box" id="question">
				<p></p>
			</div>
			<div class="gradient-border" id="answer1">
				<p>Верно</p>
			</div>
			<div class="gradient-border" id="answer2">
				<p>Неверно</p>
			</div>
		</div>
	</body>
</html>